body
{
background-size: cover;
text-align: center;
}
.heading h1{
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    color:pink ;
 display: inline;
 text-align: center;
 box-shadow: 5px 5px 5px pink;
}
.heading button{
float: right;
background-color: purple;
border-style: dotted;
border-color: white;
color: white;
font-size: 20px;
}
.heading{
    width: 100%;
    text-align: left;
}
#btn_play{
    font-size: 23px;
    border-radius: 10px;
    border-style: double;
    background-color: transparent;
    color:pink;
    border-color: pink;
    width: 5%;
}
#restart_btn{
    font-size: 23px;
    border-radius: 10px;
    border-style: double;
    background-color: transparent;
    color:pink;
    border-color: pink;
    width: 5%;
}
.steps{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: purple;

}
.copy_right_footer{
    border-radius: 10px;
    border-style: double;
    font-size: 20px;
    color: pink;
    border-color: pink;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    line-height: 2;

}
h3{
    color: pink;
    font-size: 25px;
    border-style: double;
    font-family: fantasy;
}